{:paths ["src" "resources" "resources/state"]
 :deps {babashka/curl {:git/url "https://github.com/babashka/babashka.curl.git" :sha "2187f908c033da45978512979c53bb53321120ce"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        org.babashka/sci {:mvn/version "0.2.7"}
        org.clojure/clojurescript {:mvn/version "1.10.893"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        tick/tick {:mvn/version "0.4.27-alpha"}}}
